<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Introduction to Symfony2: Getting Ready for D8</title>

		<meta name="description" content="Introduction to Symfony2: Getting Ready for D8">
		<meta name="author" content="Jesus Manuel Olivas">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style"
					content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0,
		maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/simple.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script> 	document.write( '<link rel="stylesheet" href="css/print/' + (
		window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css"
		type="text/css" media="print">' ); </script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container displayed as slide -->
			<div class="slides">

				<section>
					<h1 class="medium">Introduction to Symfony2: Getting Ready for D8</h1>
					<h3>Symfony 2 workshop</h3>
				</section>
				
				<section>
					<section>
						<h3>If you don't have the project running and see this screen, <strong>you're not ready to start!</strong></h3>
                        <p>Setup instructions: <a href="http://bit.ly/dcon-sf-setup">http://bit.ly/dcon-sf-setup</a></p>
						<img src="/assets/images/welcome.png" alt="" style="max-height: 50%;">
                        <p>And ask us for help! :)</p>
					</section>

					<section>
						<ul>
							<li>Our goal is to leave no development behind</li>
							<li>Milestons as separate branches</li>
							<li>If you $git -f checkout</li>
						</ul>						
					</section>
				</section>

				<section>
					<h2>But first, some basics</h2>
				</section>

				<section>
					<section>
						<h3>The HTTP Lifecycle</h3>
						<p>Communication on the web is always a two step process:
						<ul>
							<li>The client sends an HTTP request</li>
							<li>The server send back an HTTP response</li>
						</ul>
						</p>
					</section>

					<section>
						<h3>The Request</h3>
<pre><code class="text-bigger">
GET /foo HTTP/1.1
Host: yourdomain.com
Accept: text/html
User-Agent: Mozilla/5.0 (Macintosh)

</code></pre>
					</section>

					<section>
						<h3>
This simple message communicates everything necessary about exactly which resource the client is requesting
						</h3>
					</section>

					<section>
						<h3>The Response</h3>
<pre><code class="text-bigger">
￼HTTP/1.1 200 OK
Date: Tue, 04 Jun 2011 21:05:05 GMT
Server: lighttpd/1.4.19
Content-Type: text/html
<html>
  <h1>Foo!</h1>
</html>
</code></pre>

					</section>

					<section>
						<h3>HTTP Request-Response</h3>
						<p>In every application, and every language, you always have the same goal:</p>
						<p>To read the HTTP request and create the appropriate HTTP response</p>
					</section>	

					<section>
						<h3>Request and Response in PHP</h3>
						<ul class="text-left">
							<li class="text-left">PHP gives you access to the HTTP request via several “superglobal” arrays. 
							<br/><br/>
							</li>
							<li class="text-left">To create the HTTP response, use the the header() method to set the header lines and print content to populate the request body.</li>
						</ul>
					</section>

					<section>
						<h3>Request and Responses in Symfony</h3>
						<p>
						<ul  class="text-left">
							<li>Symfony offers a Request and Response objects that abstract the HTTP text messages into an object-oriented format.<br/><br/></li>
							<li>
							The main goal of the framework is to return a response in a optimized and effective way therefore we may say Symfony2 is an HTTP framework, it’s a Request/Response framework. 
	
							</li>
						</ul>
						</p>
					</section>

					<section>
						<h3>The Symfony Application Flow</h3>
						<img src="assets/images/request-flow.png" 
						class="no-border" />
					</section>
				</section>

				<section>
					<section>
						<h2>PHP Namespaces</h2>
						<hr/>
					</section>

					<section>
						<h3>PHP Classes</h3>
						By default, a PHP class is identified by its name, which must be unique within your project
<pre><code class="php text-big">
class Product
{
    private $foo = 'bar';
    public function __construct()
    {
		...
    } 
}

</code></pre>
					</section>

					<section>
						<h3>Referencing a non-namespaced class</h3>
						<p>
							This type of class has no namespace. It can be referenced in two different ways
						</p>
<pre><code class="php text-big">
￼// works sometimes
$product = new Product();
// works always
$product = new \Product();

</code></pre>
					</section>

					<section>
						<h3>PHP Namespaces</h3>
						<p>Are a way of encapsulating items. Bringing the ability to organize and group related classes and also to avoid name collision.</p>
<pre><code class="php text-big">
namespace DrupalCon\FirstBundle\Entity;

class Product {
// ...
}

</code></pre>
					</section>

					<section>
						<h3>Referencing a namespaced class</h3>
						<p>A namespaced class can be referenced in two different ways.</p>
<pre><code class="php text-big">
￼// reference by its fully-qualified name
$product = new DrupalCon\FirstBundle\Entity\Product();

</code></pre>

<pre><code class="php text-big">
￼// import the namespace to file
use DrupalCon\FirstBundle\Entity\Product;

$product = new Product();

</code></pre>
					</section>

					<section>
						<h2>What is Symfony</h2>
						<h3>
							Symfony is a group of standalone components and other standalone PHP libraries.
						</h3>
					</section>
				</section>

				<section>
					<h2>Ready to Code?</h2>
					<hr/>
				</section>

				<section>
					<section>
						<h2>Remove the AcmeDemoBundle</h2>
						<hr/>
						<p>
						<ul class="bullets">
							<li>Remove Bundle registration (app/AppKernel.php)</li>
							<li>Remove routing reference (app/config/routing_dev.yml)</li>
							<li>Remove directories (src/Acme)</li>
						</ul>
						</p>
						<p>
						<a href="http://bit.ly/sf2-Readme">http://bit.ly/sf2-Readme</a>
						</p>
					</section>	

					<section>
						<h3>Remove AcmeDemoBundle registration</h3>
						<h4>app/AppKernel.php</h4>
<pre><code class='php text-medium'>
use Symfony\Component\HttpKernel\Kernel;
use Symfony\Component\Config\Loader\LoaderInterface;

class AppKernel extends Kernel
{
    public function registerBundles()
    {
        ...
        if (in_array($this->getEnvironment(), array('dev', 'test'))) {
-      		$bundles[] = new Acme\DemoBundle\AcmeDemoBundle();
        ...

</code></pre>
					</section>

				<section>
					<h3>Remove routing reference</h3>
					<h4>app/config/routing_dev.yml</h4>

<pre><code class='yml'>
# AcmeDemoBundle routes (to be removed)
_acme_demo:
    resource: "@AcmeDemoBundle/Resources/config/routing.yml"

</code></pre>

				</section>

				<section>
					<h3>Remove directories</h3>
<pre><code class='bash'>
$ rm -rf src/Acme

</code></pre>
				</section>

		        <section>
		          <h3>Broken site</h3>
		          <img src="assets/images/broken-site.png" class="no-border">
		          <p>
		          <blockquote>
		          	<p>
						No route found for "GET /"
					</p>
					<p>
						404 Not Found - NotFoundHttpException
					</p>
		          </blockquote>
		          </p>
		        </section>

			</section>

			<section>
				<section>
					<h2>Create the Bundle</h2>
					<hr>
					<p>
					<ul class="bullets">
						<li>Create the directory (src/DrupalCon/FirstBundle)</li>
						<li>Create the Bundle Class here (FirstBundle.php)</li>
						<li>Register the Bundle in the AppKernel</li>
					</ul>
					</p>
					<p>
					<a href="http://bit.ly/sf2-CreatingPages">http://bit.ly/sf2-CreatingPages</a> 
					</p>
				</section>

				<section>
					<h3>Create the Bundle Class</h3>
					<h4>src/DrupalCon/FirstBundle/FirstBundle.php</h4>
<pre><code class='php text-bigger'>
&lt;?php

namespace DrupalCon\FirstBundle;

use Symfony\Component\HttpKernel\Bundle\Bundle;

class FirstBundle extends Bundle
{

}

</code></pre>
				</section>

					<section>
						<h3>Register the Bundle</h3>
						<h4>app/AppKernel.php</h4>
<pre><code class='php text-medium'>
use Symfony\Component\HttpKernel\Kernel;
use Symfony\Component\Config\Loader\LoaderInterface;

class AppKernel extends Kernel
{
    public function registerBundles()
    {
        $bundles = array(
 		...
            new DrupalCon\FirstBundle\FirstBundle(),
        );
     ...

</code></pre>
					</section>

			</section>

			<section>
				<section>
					<h2>Create a Hello Page</h2>
					<hr>
					<p>
					<ul class="bullets">
						<li>Import the route</li>
						<li>Create the route</li>
						<li>Create the Controller Class</li>
					</ul>
					</p>
					<p>
					<a href="http://bit.ly/sf2-CreatingPages">http://bit.ly/sf2-CreatingPages</a> (step 1 and 2)
					</p>
				</section>


				<section>
					<h3>Import the Route</h3>
					<h4>app/config/routing.yml</h4>
<pre><code class='yml'>
firstbundle:
    resource: "@FirstBundle/Resources/config/routing.yml"
    prefix:   /

</code></pre>

				</section>
				
				<section>
					<h3>Create the Route</h3>
					<h4>src/DrupalCon/FirstBundle/Resources/config/routing.yml</h4>
<pre><code class='yml'>
hello_plain:
    path:     /
    defaults: { _controller: FirstBundle:Hello:index }

</code></pre>

				</section>

				<section>
					<h3>Create the Controller Class</h3>
					<h4>src/DrupalCon/FirstBundle/Controller/HelloController.php</h4>
<pre><code class='php text-medium'>
&lt;?php

namespace DrupalCon\FirstBundle\Controller;

use Symfony\Component\HttpFoundation\Response;

class HelloController
{
  public function indexAction()
  {
    return new Response('&lt;html&gt;&lt;body&gt;&lt;h1&gt;Hello World&lt;/h1&gt;&lt;/body&gt;&lt;/html&gt;');
  }
}

</code></pre>
				</section>

			</section>

			<section>
				<section>
					<h2>Render a Template</h2>
					<hr>
					<p>
					<ul class="bullets">
						<li>Extend Controller</li>
						<li>Return a response rendering template</li>
						<li>Create the Template file</li>
					</ul>
					</p>
					<p>
					<a href="http://bit.ly/sf2-CreatingPages">http://bit.ly/sf2-CreatingPages</a> (step 3)
					</p>
				</section>

				<section>
					<h3>Extend Controller</h3>
					<h4>src/DrupalCon/FirstBundle/Controller/HelloController.php</h4>
<pre><code class='php'>

use Symfony\Bundle\FrameworkBundle\Controller\Controller;
...

class HelloController extends Controller
{
...

</code></pre>
				</section>

				<section>
					<h3>Return a response rendering template</h3>
					<h4>src/DrupalCon/FirstBundle/Controller/HelloController.php</h4>
<pre><code class='php'>
  public function templateAction()
  {
    return $this->render('FirstBundle:Hello:template.html.twig');
  }

</code></pre>
					<h4>src/DrupalCon/FirstBundle/Resources/config/routing.yml</h4>

<pre><code class='yml'>
hello_template:
    path:     /template
    defaults: { _controller: FirstBundle:Hello:template }

</code></pre>

				</section>
				<section>
					<h3>Create the Template file</h3>
					<h4>src/DrupalCon/FirstBundle/resources/views/Hello/template.html.tiwg</h4>
<pre><code class='twig'>
{% extends "::base.html.twig" %}

{% block title %}Render a Template{% endblock %}

{% block body %}
    <h1>You just successfully render a template</h1>
{% endblock %}

</code></pre>

				</section>

				<section>
					<h3>Render Template & pass paramater</h3>
					<h4>src/DrupalCon/FirstBundle/Controller/HelloController.php</h4>
<pre><code class='php'>  use Sensio\Bundle\FrameworkExtraBundle\Configuration\Template;
  ...

  /**
   * @Template()
   */
  public function indexAction($name)
  {
    return [
      'name'=>$name
    ];
  }
</code></pre>
					<h4>src/DrupalCon/FirstBundle/Resources/config/routing.yml</h4>

<pre><code class='yml'>hello_name:
    path:     /hello/{name}
    defaults: { _controller: FirstBundle:Hello:index }
</code></pre>

				</section>
			</section>

			<section>
				<section>
					<h2>Create a CRUD</h2>
					<hr/>
					<ul>
						<li>Generate an Entity named Product</li>
						<li>Generate a CRUD</li>
						<li>Create Database and Schema</li>
					</ul>
				</section>

				<section>
					<h3>Generate entity</h3>
<pre><code class='bash'>$ php app/console doctrine:generate:entity

The Entity Shortcut Name: FirstBundle:Product

Configuration Format: annotation

Fields:
-- name: name
-- type: string
-- length: 255

-- name: price
-- type: float

hit enter wildly!!! Woh!
(i.e. agree to the default values for everything else)
</code></pre>
<p>(if you mess up ctrl + c and start again)</p>
				</section>

				<section>
					<h3>Generate CRUD</h3>
<pre><code class='bash'>
$ php app/console doctrine:generate:crud

Entity Shorcut name: FirstBundle:Product

Generate write actions: yes

hit enter wildly!!! Woh!
(i.e. agree to the default values for everything else!)
</code></pre>

<p>
    add these lines to import the routes
</p>

<pre class="yml"><code>
# app/config/routing.yml
# ...
firstbundle_product:
    resource: "@FirstBundle/Controller"
    type: annotation

</code></pre>
				</section>

				<section>
					<h3>Create Database and Schema</h3>
<code class="bash"><pre>

$ php app/console doctrine:database:create
$ php app/console doctrine:schema:create

</code></pre>
<p>
    Database settings are in config parameters file (app/config/parameters.yml)
</p>

				</section>
			</section>

			<section>
				<section>
					<h2>Return a JSON Object</h2>
					<hr/>
					<ul>
						<li>Make a /product/{id}.json endpoint</li>
                        
                        <li>
                            Copy the showActionJson method to the *top* of your ProductController:
                            <a href="http://bit.ly/dcon-sf-json">http://bit.ly/dcon-sf-json</a>
                        </li>
					</ul>
				</section>
			</section>
            
			<section>
				<section>
					<h2>Create a "Service"</h2>
					<hr/>
					<ul>
						<li>Create a ProductSerializer class</li>
                        <li>Give it a serialize method:
                        
<pre><code>class ProductSerializer {
    public function serialize($product)
    {
        // copy the code to turn the Product
        // object into JSON
    
        return $json;
    }
}</code></pre>
                        
                        </li>
                        <li>
                            Instantiate the ProductSerializer in your controller
                            and use it.
                        </li>
					</ul>
				</section>
			</section>

			<section>
				<section>
					<h2>Register a service</h2>
					<hr/>
					<ul>
						<li>
                            Register your class as a service

<pre style="width: 100%;"><code class="yml"># app/config/config.yml
services:
    my.product_serializer:
        class: DrupalCon\FirstBundle\Service\ProductSerializer
        arguments: []</code></pre>
                        </li>
                        <li>Use the service in your controller
                        
<pre style="width: 100%;"><code>// src/DrupalCon/FirstBundle/Controller/ProductController.php
public function showJsonAction($id)
{
    // ...
    $productSerializer = $this->container
        ->get('my.product_serializer');

    $json = $productSerializer->serialize($product);

    return new Response($json);
}
</code></pre>
                        
                        </li>
					</ul>
				</section>
			</section>

			<section>
				<section>
					<h2>Dependency Injection!</h2>
					<hr/>
<pre style="width: 100%;"><code>class ProductSerializer
{
    private $router;

    public function __construct(Router $router)
    {
        $this->router = $router;
    }    
    public function serialize(Product $product)
    {
        $data = array(
            // ...
            'url' => $this->router->generate('product_show', array('id' => $product->getId()))
        );
        return json_encode($data);
    }
}
</code></pre>

<pre style="width: 100%;"><code class="yml"># app/config/config.yml
services:
    my.product_serializer:
        class: DrupalCon\FirstBundle\Service\ProductSerializer
        arguments: ["@router"]</code></pre>

				</section>
			</section>

			<section>
				<section>
					<h2>Drupal 8 module</h2>
					<hr/>
				</section>

				<section>
					<h3>Drupal 8 console</h3>
					<p>
						The purpose of this project is to leverage the Symfony Console Component to provide a CLI tool to automate the creation of Drupal 8 modules.
					</p>
					<br/>
					<p>
						The purpose of this project is to leverage the Symfony Console Component to provide a CLI tool to automate the creation of Drupal 8 modules.
					</p>
				</section>

				<section>
						<h3>Where do I find the project?</h3>
						<p>
							<br/>
							Do you have a Drupal user ?
						</p>
						<p>
							<a href="https://drupal.org/project/console">
								https://drupal.org/project/console
							</a>
						</p>
						<p>
							<br/>
							Do you have a Github account ?
						</p>
						<p>
						<a href="https://github.com/hechoendrupal/DrupalAppConsole">
							https://github.com/hechoendrupal/DrupalAppConsole
						</a>
						</p>
				</section>

				<section>
					<h3>Code generators</h3>
<pre style="width: 100%;"><code>
$ bin/console generate:module
$ bin/console generate:controller
$ bin/console generate:form
$ bin/console generate:plugin:block

</code></pre>
				</section>

				<section>
					<h3>Create a Service</h3>
					<h4>lorempixel.services.yml</h4>
<pre style="yml"><code>
parameters:
  lorempixel.categories:
    - 'abstract'
    - 'animals'
    - 'business'
    - 'cats'
    - 'city'
    - 'food'
    - 'nightlife'
    - 'fashion'
    - 'people'
    - 'nature'
    - 'sports'
    - 'technics'
    - 'transport'

services:
  lorempixel.generator:
    class: Drupal\lorempixel\LorempixelGenerator
    arguments: ['@config.factory', %lorempixel.categories%]
    tags:
      - { name: lorempixel_generator }

</code></pre>
				</section>

				<section>
					<h3>Service Class</h3>
					<h4>src/lorempixel/LorempixelGenerator.php</h4>
<pre style="php"><code>&lt;?php

namespace Drupal\lorempixel;

use Drupal\Core\Config\ConfigFactory;

class LorempixelGenerator
{

  protected $config;

  protected $categories;

  public function __construct(ConfigFactory $config, $categories) {
    $this->config = $config;
    $this->categories = $categories;
  }

  public function getImage($category = NULL, $width = NULL, $height = NULL){
    $settingsForm = $this->config->get("lorempixel.settingsform_config");

    $width = $width?$width:$settingsForm->get("width");
    $height = $height?$height:$settingsForm->get("height");

    if (!$this->isValidCategory($category))
      $category = $settingsForm->get("category");

    return '<img src="' . $this->getImageUrl($width, $height, $category) . '" />';
  }

  private function isValidCategory($category = NULL) {
    if ($category) {
      return in_array($category, $this->categories);
    }

    return false;
  }

  private function getImageUrl($width, $height, $category)
  {
    $url = "http://lorempixel.com/{$width}/{$height}/{$category}";

    return $url;
  }
}
</code></pre>
				</section>

				<section>
					<h3>Add new ImageController</h3>
					<h4>lorempixel.routing.yml</h4>
<pre><code class="yml">
lorempixel.image:
  path: '/lorempixel/image/{category}'
  defaults:
    _content: '\Drupal\lorempixel\Controller\ImageController::image'
    _title: 'Lorem Pixel Image Generator'
    width: 0
    height: 0
    category: ''
  requirements:
    _permission: 'access content'

</code></pre>
				</section>

				<section>
					<h3>Calling the service</h3>
<pre><code class="php">
 /**
   * @param  string $category
   * @return string
   */
  public function image($category) {
    return $this->lorempixel_generator->getImage($category);
  }

</code></pre>

<pre><code class="php">
 /**
   * {@inheritdoc}
   */
  public function build()
  {
    return [
      '#markup' => $this->lorempixel_generator->getImage('cats', 140, 100),
    ];
  }

</code></pre>
				</section>

			</section>

			</div>
		</div>

    <footer>
      <img src="assets/images/blinkreaction-logo.png" class="no-border">
    </footer>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/leap/leap.js', async: true }
					// { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

		<link rel="stylesheet" href="assets/css/custom.css">

	</body>
</html>
