<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Introduction to Symfony2: Getting Ready for D8</title>

		<meta name="description" content="Introduction to Symfony2: Getting Ready for D8">
		<meta name="author" content="Jesus Manuel Olivas">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style"
					content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0,
		maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/simple.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script> 	document.write( '<link rel="stylesheet" href="css/print/' + (
		window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css"
		type="text/css" media="print">' ); </script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container displayed as slide -->
			<div class="slides">

				<section>
					<h1 class="medium">Introduction to Symfony2: Getting Ready for D8</h1>
					<h3>Symfony 2 workshop</h3>
				</section>
				
				<section>
					<section>
						<h3>If you don't have the project runing and see this screen</h3>
						<img src="" alt="">
					</section>
				</section>

				<section>
					<section>
						<h2>Remove the AcmeDemoBundle</h2>
						<hr/>
						<p>
						<ul class="bullets">
							<li>Remove Bundle registration (app/AppKernel.php)</li>
							<li>Remove routing reference (app/config/routing_dev.yml)</li>
							<li>Remove directories (src/Acme)</li>
						</ul>
						</p>
						<p>
						<a href="http://bit.ly/sf2-Readme">http://bit.ly/sf2-Readme</a>
						</p>
					</section>	

					<section>
						<h3>Remove AcmeDemoBundle registration</h3>
						<h4>app/AppKernel.php</h4>
<pre><code class='php text-medium'>
use Symfony\Component\HttpKernel\Kernel;
use Symfony\Component\Config\Loader\LoaderInterface;

class AppKernel extends Kernel
{
    public function registerBundles()
    {
        ...
        if (in_array($this->getEnvironment(), array('dev', 'test'))) {
-      		$bundles[] = new Acme\DemoBundle\AcmeDemoBundle();
        ...

</code></pre>
					</section>

				<section>
					<h3>Remove routing reference</h3>
					<h4>app/config/routing_dev.yml</h4>

<pre><code class='yml'>
# AcmeDemoBundle routes (to be removed)
_acme_demo:
    resource: "@AcmeDemoBundle/Resources/config/routing.yml"

</code></pre>

				</section>

				<section>
					<h3>Remove directories</h3>
<pre><code class='bash'>
$ rm -rf src/Acme

</code></pre>
				</section>

		        <section>
		          <h3>Broken site</h3>
		          <img src="assets/images/broken-site.png" class="no-border">
		          <p>
		          <blockquote>
		          	<p>
						No route found for "GET /"
					</p>
					<p>
						404 Not Found - NotFoundHttpException
					</p>
		          </blockquote>
		          </p>
		        </section>

			</section>

			<section>
				<section>
					<h2>Create the Bundle</h2>
					<hr>
					<p>
					<ul class="bullets">
						<li>Create the directory (src/DrupalCon/FirstBundle)</li>
						<li>Create the Bundle Class here (FirstBundle.php)</li>
						<li>Register the Bundle in the AppKernel</li>
					</ul>
					</p>
					<p>
					<a href="http://bit.ly/sf2-CreatingPages">http://bit.ly/sf2-CreatingPages</a> 
					</p>
				</section>

				<section>
					<h3>Create the Bundle Class</h3>
					<h4>src/DrupalCon/FirstBundle/FirstBundle.php</h4>
<pre><code class='php text-bigger'>
&lt;?php

namespace DrupalCon\FirstBundle;

use Symfony\Component\HttpKernel\Bundle\Bundle;

class FirstBundle extends Bundle
{

}

</code></pre>
				</section>

					<section>
						<h3>Register the Bundle</h3>
						<h4>app/AppKernel.php</h4>
<pre><code class='php text-medium'>
use Symfony\Component\HttpKernel\Kernel;
use Symfony\Component\Config\Loader\LoaderInterface;

class AppKernel extends Kernel
{
    public function registerBundles()
    {
        $bundles = array(
 		...
            new DrupalCon\FirstBundle\FirstBundle(),
        );
     ...

</code></pre>
					</section>

			</section>

			<section>
				<section>
					<h2>Create a Hello Page</h2>
					<hr>
					<p>
					<ul class="bullets">
						<li>Import the route</li>
						<li>Create the route</li>
						<li>Create the Controller Class</li>
					</ul>
					</p>
					<p>
					<a href="http://bit.ly/sf2-CreatingPages">http://bit.ly/sf2-CreatingPages</a> (step 1 and 2)
					</p>
				</section>


				<section>
					<h3>Import the Route</h3>
					<h4>app/config/routing.yml</h4>
<pre><code class='yml'>
firstbundle:
    resource: "@FirstBundle/Resources/config/routing.yml"
    prefix:   /

</code></pre>

				</section>
				
				<section>
					<h3>Create the Route</h3>
					<h4>src/DrupalCon/FirstBundle/Resources/config/routing.yml</h4>
<pre><code class='yml'>
hello_plain:
    path:     /
    defaults: { _controller: FirstBundle:Hello:index }

</code></pre>

				</section>

				<section>
					<h3>Create the Controller Class</h3>
					<h4>src/DrupalCon/FirstBundle/Controller/HelloController.php</h4>
<pre><code class='php text-medium'>
&lt;?php

namespace DrupalCon\FirstBundle\Controller;

use Symfony\Component\HttpFoundation\Response;

class HelloController
{
  public function indexAction()
  {
    return new Response('&lt;html&gt;&lt;body&gt;&lt;h1&gt;Hello World&lt;/h1&gt;&lt;/body&gt;&lt;/html&gt;');
  }
}

</code></pre>
				</section>

			</section>

			<section>
				<section>
					<h2>Render a Template</h2>
					<hr>
					<p>
					<ul class="bullets">
						<li>Extend Controller</li>
						<li>Return a response rendering template</li>
						<li>Create the Template file</li>
					</ul>
					</p>
					<p>
					<a href="http://bit.ly/sf2-CreatingPages">http://bit.ly/sf2-CreatingPages</a> (step 3)
					</p>
				</section>

				<section>
					<h3>Extend Controller</h3>
					<h4>src/DrupalCon/FirstBundle/Controller/HelloController.php</h4>
<pre><code class='php'>

use Symfony\Bundle\FrameworkBundle\Controller\Controller;
...

class HelloController extends Controller
{
...

</code></pre>
				</section>

				<section>
					<h3>Return a response rendering template</h3>
					<h4>src/DrupalCon/FirstBundle/Controller/HelloController.php</h4>
<pre><code class='php'>
  public function templateAction()
  {
    return $this->render('FirstBundle:Hello:template.html.twig');
  }

</code></pre>
					<h4>src/DrupalCon/FirstBundle/Resources/config/routing.yml</h4>

<pre><code class='yml'>
hello_template:
    path:     /template
    defaults: { _controller: FirstBundle:Hello:template }

</code></pre>

				</section>
				<section>
					<h3>Create the Template file</h3>
					<h4>src/DrupalCon/FirstBundle/resources/views/Hello/template.html.tiwg</h4>
<pre><code class='twig'>
{% extends "::base.html.twig" %}

{% block title %}Render a Template{% endblock %}

{% block body %}
    <h1>You just successfully render a template</h1>
{% endblock %}

</code></pre>

				</section>

				<section>
					<h3>Render Template & pass paramater</h3>
					<h4>src/DrupalCon/FirstBundle/Controller/HelloController.php</h4>
<pre><code class='php'>  use Sensio\Bundle\FrameworkExtraBundle\Configuration\Template;
  ...

  /**
   * @Template()
   */
  public function indexAction($name)
  {
    return [
      'name'=>$name
    ];
  }
</code></pre>
					<h4>src/DrupalCon/FirstBundle/Resources/config/routing.yml</h4>

<pre><code class='yml'>hello_name:
    path:     /hello/{name}
    defaults: { _controller: FirstBundle:Hello:index }
</code></pre>

				</section>
			</section>

			<section>
				<section>
					<h2>Create a CRUD</h2>
					<hr/>
					<ul>
						<li>Generate an Entity named Product</li>
						<li>Generate a CRUD</li>
						<li>Create Database and Schema</li>
					</ul>
				</section>

				<section>
					<h3>Generate entity</h3>
<pre><code class='bash'>$php app/console doctrine:generate:entity

The Entity Shorcut Name: FirstBundle:Product

Configuration Format: annotation

Fields:
-- name: name
-- type: string
-- length: 255

-- name: price
-- type: float

hit enter wildly

(if you mess up ctrl + c and start again)
</code></pre>
				</section>

				<section>
					<h3>Generate CRUD</h3>
<pre><code class='bash'>
$php app/console doctrine:generate:crud

Entity Shorcut name: FirstBundle:Product

Generate write actions: yes

hit enter wildly

</code></pre>

<pre class="yml"><code>
# app/config/routing.yml
# ...
fisrtundle_product:
	resource: "@FirstBundle/Controller"
	type: annotation

</code></pre>
				</section>

				<section>
					<h3>Create Database and Schema</h3>
<code class="bash"><pre>

$php app/console doctrine:database:create
$php app/console doctrine:schema:create

Database settings are in config paramaters file (app/config/parameters.yml)

</code></pre>

				</section>
			</section>

			<section>
				<section>
					<h2>Return a JSON Object</h2>
					<hr/>
					<ul>
						<li>Make a /product/{id}.json endpoint</li>
                        
                        <li>
                            Copy the showActionJson method to the *top* of your ProductController:
                            <a href="http://bit.ly/dcon-sf-json">http://bit.ly/dcon-sf-json</a>
                        </li>
					</ul>
				</section>
			</section>
            
			<section>
				<section>
					<h2>Create a "Service"</h2>
					<hr/>
					<ul>
						<li>Create a ProductSerializer class</li>
                        <li>Give it a serialize method:
                        
<pre><code>class ProductSerializer {
    public function serialize($product)
    {
        // copy the code to turn the Product
        // object into JSON
    
        return $json;
    }
}</code></pre>
                        
                        </li>
                        <li>
                            Instantiate the ProductSerializer in your controller
                            and use it.
                        </li>
					</ul>
				</section>
			</section>

			<section>
				<section>
					<h2>Register a service</h2>
					<hr/>
					<ul>
						<li>
                            Register your class as a service

<pre style="width: 100%;"><code class="yml"># app/config/config.yml
services:
    my.product_serializer:
        class: DrupalCon\FirstBundle\Service\ProductSerializer
        arguments: []</code></pre>
                        </li>
                        <li>Use the service in your controller
                        
<pre style="width: 100%;"><code>// src/DrupalCon/FirstBundle/Controller/ProductController.php
public function showJsonAction($id)
{
    // ...
    
    $productSerializer = $this->container
        ->get('my.product_serializer');

    $json = $productSerializer->serialize($product);

    return new Response($json);
}
</code></pre>
                        
                        </li>
					</ul>
				</section>
			</section>

			<section>
				<section>
					<h2>Dependency Injection</h2>
					<hr/>
<pre style="width: 100%;"><code>class ProductSerializer
{
    private $router;

    public function __construct(Router $router)
    {
        $this->router = $router;
    }    
    public function serialize(Product $product)
    {
        $data = array(
            // ...
            'url' => $this->router->generate('product_show', array('id' => $product->getId()))
        );
        return json_encode($data);
    }
}
</code></pre>



<pre style="width: 100%;"><code class="yml"># app/config/config.yml
services:
    my.product_serializer:
        class: DrupalCon\FirstBundle\Service\ProductSerializer
        arguments: ["@router"]</code></pre>

				</section>
			</section>

			</div>
		</div>

    <footer>
      <img src="assets/images/blinkreaction-logo.png" class="no-border">
    </footer>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/leap/leap.js', async: true }
					// { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

		<link rel="stylesheet" href="assets/css/custom.css">

	</body>
</html>
